.Burger {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 20px 25px;
  border-radius: 15px;
  background-color: #141432;
  min-height: 100%;
  min-width: 100%;
  color: white;
}

.Burger-Total {
  padding-top: 19px;
}
/*
.Burger:hover > * {
  margin-top: -50%;
  transform: translateY(180%);
  transition: all 1s ease-out;
  height: max-content;
}
*/
