.Offer {
  width: 100%;
  border-radius: 15px;
  background-color: #141432;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
  color: white;
  text-align: center;
}

.Offer img {
  max-height: 190px;
  margin-top: -70px;
}

.Offer h2 {
  margin-top: -10px;
  margin-bottom: 60px;
  font-size: 1.7rem;
}

.Offer-Value {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  font-size: 1.4rem;
  background-color: #524eee;
  padding: 5px;
  border-radius: 0px 0px 0px 15px;
}

.Offer-Mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #e20001;
  padding: 5px 0px;
  border-radius: 15px 0px;
}

.Offer-Add {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 1.4rem;
  background-color: #3b37ae;
  padding: 5px;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}
