.BurgerElement {
  display: grid;
  grid-template-areas: 'remove text image';
  grid-template-columns: min-content minmax(max-content, 1fr) min-content;
  grid-template-rows: min-content;
  align-items: center;
  min-height: 100%;
  -webkit-user-drag: none;
}

.BurgerElement-Image {
  grid-area: image;
  user-select: none;
  width: 90px;
}

.BurgerElement-Text {
  text-align: left;
  grid-area: text;
  border-bottom: 1px solid #666;
  border-image: linear-gradient(90deg, #aaa, #fff0) 12;
}

.BurgerElement-Remove {
  user-select: none;
  margin-right: 13px;
  margin-top: 7px;
  min-width: 27px;
  max-width: 27px;
  grid-area: remove;
}
