.Home {
  display: flex;
  justify-items: center;
  width: 100%;
  gap: 40px;
}

.Home::before {
  opacity: 0.6;
  background-image: url('../../images/burgerWithBackground.jpg');
  background-size: 100%;
}

@media only screen and (max-width: 660px) {
  .Home {
    flex-direction: column;
  }
}

.Home-BurgerAdderContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.Home-Offers {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Home-AddElement .Home-Burger .Home-Navbar {
  display: flex;
  align-items: center;
  justify-items: center;
}

.Home-ElementAdder {
  grid-area: add;
  order: -1;
}

.Home-Burger {
  width: 100%;
  grid-area: burger;
}

.Home-Offers {
  grid-area: offer;
}
