.Navbar {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  max-height: 47px;
  margin: 30px 0px;
  width: 100%;
  gap: 30px;
}

.Navbar-Logo {
  width: 300px;
  max-width: 300px;
}

.Navbar-LinksWrapper {
  font-weight: 300;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.NavLink:link {
  color: #999;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
}

.NavLink:hover {
  color: #00ab33 !important;
}
