.FooterElement {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.FooterElement-Container {
  display: flex;

  min-width: max-content;
  gap: 5px;
}

.FooterElement-Container :first-child {
  margin-bottom: 8px;
}

.FooterElement-Title {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.1rem;
}

.FooterElement pre {
  font-size: 0.78rem;
  font-weight: 400;
}

.FooterElement-Icon {
  min-height: 17px;
  min-width: 22px;
  max-height: 17px;
  margin-top: 4px;
}
