.BurgerPreview {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -25%;
  max-width: 40px;
}

.BurgerPreview > * {
  margin-top: -45%;
  transform: translateY(180%);
  transition: all 1s ease-out;
  height: max-content;
}
