@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  transition: 100ms;
}

#root {
  display: flex;
  flex-direction: column;
}

#root,
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  background: #1d1d42;
  /* background-image: linear-gradient(-45deg, #28285a, #1c1c3f); */
  color: white;
  min-height: 100vh;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;

  /* padding: 0px 80px 200px 80px; */
}

.App-Footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.FOTTOFDOTG {
  position: absolute;
  background-color: aqua;
  height: 30px;
  bottom: 0;
  width: 100%;
}
