@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  transition: 100ms;
}

html,
body {
  background: #1d1d42;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.App-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content max-content min-content;
  grid-template-areas:
    'navbar navbar'
    'burger add'
    'burger add'
    'orders orders';
  justify-items: center;
  align-content: start;
  gap: 30px;
  max-width: 1000px;
}

@media only screen and (max-width: 680px) {
  .App-Container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

.App-AddElement .App-Burger .App-Navbar {
  display: flex;
  align-items: center;
  justify-items: center;
}

.App-ElementAdder {
  grid-area: add;
  order: -1;
}

.App-Burger {
  width: 100%;
  grid-area: burger;
}

.App-Navbar {
  grid-area: navbar;
  order: -2;
}

.App-Orders {
  grid-area: orders;
}

.App-Footer {
  grid-area: footer;
}
